@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.return-pic {
  color: white;
  position: absolute;
  left: 3%;
  top: 3%;
  height: 10%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.return-pic:hover {
  transform: scale(1.3);
}

.send-pic {
  transition: all 0.4s ease;
  right: 5%;
  bottom: 5%;
  height: 10%;
  position: fixed;
}

.send-pic:hover {
  transform: scale(1.3);
}

.plus-sign {
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 10%;
  position: absolute;
}

.write-textbox {
  display: block;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 30px;
  line-height: 1.5;
  font-family: sans-serif, FontAwesome;
  margin: auto;
  margin-top: 3%;
  width: 60%;
}

.bottom-space {
  height: 100px;
}

/** Plane */
.plane {
  transition: all 0.4s ease;
  right: 10%;
  bottom: 10%;
  height: 10%;
  position: fixed;
  animation: move 3s linear infinite;
  animation-play-state: paused;
}

.plane:hover {
  animation-play-state: running;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0);
  }
  25% {
    transform: translateY(-20px) rotateX(40deg);
  }
  50% {
    transform: rotateX(0) translateY(0);
  }
  75% {
    transform: rotateX(-40deg) translateY(20px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}

.wingRight {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 115px solid white;
  transform: rotate(61deg);
  z-index: 4;
}

.bottom {
  position: relative;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25.5px solid #676d70;
  top: 71px;
  transform: rotate(-5deg);
  left: -52.5px;
  z-index: 3;
}

.top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #c1c7c9;
  top: 65px;
  transform: rotate(5deg);
  left: -60px;
  z-index: 1;
}

.middle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 135px solid #c1c7c9;
  top: -13.5px;
  transform: rotate(72deg);
  left: -7.5px;
  z-index: 2;
}

.wingLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 135px solid white;
  transform: rotate(78deg) skewY(-35deg);
  left: -18.5px;
  z-index: 3;
  top: -30px;
}
