.content-container {
    width: 50%;
    height: auto;
    background-color: #7FABD7;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    border-radius: 25px;
    border: 2px solid white;
}

.message-content-container {
    padding: 20px;
}

.message-content-text {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
}

.message-content-from {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    border-bottom: 1px solid white;
    color: white;
    text-align: right;
    position: relative;
}