.Profile {
    height: 100%;
}

#return-arrow {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 5px;
}

#profile-title {
    color: #F5F5F5;
}

.Profile-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#change-password {
    font-size: 0.6667rem;
    color: #F5F5F5;
    margin-top: 0;
    margin-left: auto;
    width: 40%;
    margin-right: 0;
}


