.input-container {
  margin: auto;
  margin-bottom: 15px;
}

.title {
  letter-spacing: 0;
  min-height: 42px;
  color: white;
  text-align: left;
  font-size: 30px;
  margin: auto;
  margin-top: 15px;
}

.input-box {
  margin: auto;
  margin-top: 10px;
  min-width: 98%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 42px;
  color: white;
  border-width: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  background-color: #33539f;
  width: 100%;
  box-sizing: border-box;
}
.input-box:focus {
  outline: none;
}