.home-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    min-height: auto;
    background-color: #33539f;
    align-content:flex-end;
    flex: auto;
}

.form-container {
    width: 43%;
    margin-left: auto;
    margin-right: auto;
}

.home-title {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 4px 4px #00000040;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 75px;
    text-align: center;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgot-password {
    color: white;
    font-size: 20px;
    position: relative;
    top: -3px;
    float: right;
    text-decoration: none;
}

.privacy-policy {
    color: white;
    font-size: 20px;
    position: relative;
    float: left;
    text-decoration: none;
}

.terms-conditions {
    color: white;
    font-size: 20px;
    position: relative;
    float: right;
    text-decoration: none;
}

.submit-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.input-container {
    margin: auto;
    margin-bottom: 15px;
  }