.button-box {
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    -webkit-box-shadow: 0px 4px 4px #666666;
    -moz-box-shadow: 0px 4px 4px #666666;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    box-shadow: 0px 4px 4px #666666;
    font-size: 45px;
    background: #33539f;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 40%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
  }
  
  .button-box:hover {
    transform: scale(1.1);
  }